/*  Icon class generation
/*  ------------------------------------*/
@each $size in $icon {
    .icon-#{$size} {
        Width: rem($size);
        height: rem($size);        
    }
}
[class^="icon-"] {
    display: inline-flex;
    svg {
        fill: currentColor;
    }
    svg,
    img {
        display: block;
        width: 100%;
        max-height: 100%;
    }
}