//  Rem Conversion
@function rem($unit) {
    $value: strip-unit($unit);
    $basefont: strip-unit($base-font);
    //  Base font unit is 'px'
    //  -----------------------------------------
    @if unit($base-font)==px {
        //@return strip-unit($value) / strip-unit($base-font) * 1rem;
        $result: ();
        @for $i from 1 through length($value) {
            $result: append($result, strip-unit(nth($value, $i) / $basefont) + rem);
        }
        @return $result;
    }
    //  Base font unit is 'em'
    //  -----------------------------------------
    @if unit($base-font)==em {
        //@return strip-unit($value) / 16 / strip-unit($base-font) * 1rem;
        $result: ();
        @for $i from 1 through length($value) {
            $result: append($result, strip-unit(nth($value, $i) / 16 / $basefont) + rem);
        }
        @return $result;
    }
    //  Base font unit is '%'
    //  -----------------------------------------
    @else {
        //@return strip-unit($value) / 16 * 100 / strip-unit($base-font) * 1rem;
        $result: ();
        @for $i from 1 through length($value) {
            $result: append($result, strip-unit(nth($value, $i) / 16 * 100 / $basefont) + rem);
        }
        @return $result;
    }
}