/*  Spacers
/*  ------------------------------------*/
@mixin spacers($media: null) {
  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in $spacer {
      .#{$abbrev}#{$selector}#{$media}#{$size} { 
        #{$prop}: $length !important; 
      }
      .#{$abbrev}t#{$selector}#{$media}#{$size},
      .#{$abbrev}y#{$selector}#{$media}#{$size} {
        #{$prop}-top: $length !important;
      }
      .#{$abbrev}r#{$selector}#{$media}#{$size},
      .#{$abbrev}x#{$selector}#{$media}#{$size} {
        #{$prop}-right: $length !important;
      }
      .#{$abbrev}b#{$selector}#{$media}#{$size},
      .#{$abbrev}y#{$selector}#{$media}#{$size} {
        #{$prop}-bottom: $length !important;
      }
      .#{$abbrev}l#{$selector}#{$media}#{$size},
      .#{$abbrev}x#{$selector}#{$media}#{$size} {
        #{$prop}-left: $length !important;
      }
    }
  }
  
  /* Negative margins*/
  @each $size, $length in $spacer {
    @if $size != 0 {
      .m#{$selector}#{$media}n#{$size} { 
        margin: -$length !important; 
      }
      .mt#{$selector}#{$media}n#{$size},
      .my#{$selector}#{$media}n#{$size} {
        margin-top: $length !important;
      }
      .mr#{$selector}#{$media}n#{$size},
      .mx#{$selector}#{$media}n#{$size} {
        margin-right: $length !important;
      }
      .mb#{$selector}#{$media}n#{$size},
      .my#{$selector}#{$media}n#{$size} {
        margin-bottom: $length !important;
      }
      .ml#{$selector}#{$media}n#{$size},
      .mx#{$selector}#{$media}n#{$size} {
        margin-left: $length !important;
      }
    }
  }
  
  // Some special margin utils
  .m#{$selector}#{$media}auto { 
    margin: auto !important; 
  }
  .mt#{$selector}#{$media}auto,
  .my#{$selector}#{$media}auto {
    margin-top: auto !important;
  }
  .mr#{$selector}#{$media}auto,
  .mx#{$selector}#{$media}auto {
    margin-right: auto !important;
  }
  .mb#{$selector}#{$media}auto,
  .my#{$selector}#{$media}auto {
    margin-bottom: auto !important;
  }
  .ml#{$selector}#{$media}auto,
  .mx#{$selector}#{$media}auto {
    margin-left: auto !important;
  }
}

/*  Normal */
@include spacers;

/*  Breakpoint spaces */
@each $breakpoint in map-keys($breakpoints) {
  @include media('>=#{$breakpoint}') {
    @include spacers(#{$breakpoint}#{$selector});
  }
}