/*  grid
/*  ------------------------------------*/
.#{map-get($row, parent-name)} {
    display: flex;
    flex-wrap: wrap;
}

.#{map-get($row, child-name)},
[class*="#{map-get($row, child-name)}#{$mod}"] {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    min-height: 1px;
}

@mixin row($media: null) {
    @for $i from 1 through map-get($row, column) {
        .#{map-get($row, child-name)}#{$mod}#{$media}#{$i} {
            flex: 0 0 (100 / (map-get($row, column) / $i)) * 1%;
            max-width: (100 / (map-get($row, column) / $i)) * 1%;
        }
        .#{map-get($row, child-name)}#{$mod}#{$media}offset#{$selector}#{$i} {
            margin-left: (100 / (map-get($row, column) / $i)) * 1%;
        }
    }
}

/*  Normal */
@include row;

/*  Breakpoint spaces */
@each $breakpoint in map-keys($breakpoints) {
    @include media('>=#{$breakpoint}') {
        @include row(#{$breakpoint}#{$selector});
    }
}